* {
  margin: 0;
}

header {
  background: #333;
}

main {
  display: flex;
  background: green;
}

article{
  flex: 1 1 auto;
  background: blue;
}

aside {
  background: red;
}

footer {
  background: #ccc;
}